<li class="tweet">
	<div class="media">
		<div class="media-left">
			<%= link_to tweet.user do %>
		<% end %>
	</div>

	<div class="media-body">
		<h4 class="media-heading">
			<%= link_to tweet.user.handle, tweet.user %>
			<!-- <small>< tweet_date(tweet) ></small> -->
		</h4>
		<p><%= tweet.body %></p>
	</div>
</div>
</li>